<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Movie Recommender</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--Navigation-->
<!--Note: Will need to add a button to navigate to an account creation page somewhere in here-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Movie Recommender</a>
    <div class="collapse navbar-collapse justify-content-end">
        <form class="form-inline">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--Main Body Search Bar-->
<!--Note: Will need to add a filter section to the search bar-->
<div class="container text-center mt-5">
    <h1>Movie Recommender</h1>
    <form class="form-inline justify-content-center mt-3">
        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
</div>
</body>
</html>