<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #genreList
        {
            list-style-type: none;
        }
    </style>
</head>
<body>
<!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Movie Recommender</a>
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/browse">Browse</a>
        <a class="nav-link" href="/login">Profile</a>
        <a class="nav-link" href="/login">Settings</a>
    </nav>
    <div class="container text-center mt-5">
        <h1>Profile</h1>
        <div class="container text-center mt-4">
            <h3>Favorite Genres</h3>
            <form>
                <div class="form-group">
                    <label>Choose a Genre: </label>
                    <label>
                        <select class="form-control form-control-sm">
                            <option value="Action">Action</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Drama">Drama</option>
                            <option value="Horror">Horror</option>
                            <option value="Romance">Romance</option>
                        </select>
                    </label>
                </div>
                <button type="button" class="btn btn-primary">Add to Favorites</button>
                <!--Will need to link favorite genres to logged in profile-->
            </form>
        </div>
    </div>
    <div class="container text-center mt-4">
        <h3>Selected Genres</h3>
        <ul id="genreList" class="list-group">
            <!--Fake listings for testing purposes-->
            <li>Test Genre</li>
            <li>Test Genre</li>
            <li>Test Genre</li>
        </ul>
    </div>
    <div class="container text-center mt-4">
        <h3>Browse</h3>
        <!--You will enter recommended movies here-->
    </div>
</body>
</html>